[Unit]
Description=Run Stirling Foyer Roku webpage snapshot refresh

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=15s
Persistent=true

[Install]
WantedBy=timers.target
